[Unit]
Description=BDR Pi Screen Blanking Service

[Service]
ExecStart=/usr/local/bin/bdr_screenblank.sh --daemon
StandardOutput=journal
StandardError=journal
SyslogIdentifier=bdr_screenblank

[Install]
WantedBy=multi-user.target
