#cloud-config
hostname: {{PI_HOSTNAME}}

keyboard:
  model: pc105
  layout: us
  options: ctrl:nocaps

locale: en_US.UTF-8
timezone: America/Los_Angeles

# do not auto reboot
power_state:
  condition: false

users:
- name: {{FIRST_RUN_USER}}
  gecos: BDR PI
  primary_group: users
  groups: users,adm,dialout,audio,netdev,video,plugdev,cdrom,games,input,gpio,spi,i2c,render,sudo
  shell: /bin/bash
  lock_passwd: false
  plain_text_passwd: {{FIRST_RUN_PASS}}

enable_ssh: true
ssh_pwauth: true
rpi:
  interfaces:
    serial: true
    i2c: true
    spi: true

# Update apt database and upgrade packages on first boot
package_update: true
package_upgrade: true

# Install additional packages on first boot
packages:
- avahi-daemon
- build-essential
- curl
- git
- libgles2
- libegl1
- libegl-mesa0
- libgl1-mesa-dri
- libgbm1
- libsystemd-dev
- mesa-utils
- mtdev-tools
- pmount
- wget

# raspberrypi imager does this
apt:
  preserve_sources_list: true
  conf: |
    Acquire {
      Check-Date "false";
    };

# Run arbitrary commands at rc.local like time
runcmd:
- /boot/bdr-pi-firstrun.sh
